{% extends 'base.html' %}
{% load mytags %}


{% block title %}
    <title>You buy</title>
{% endblock %}


{% block content %}
    <span><a href="{% url 'logout' %}">Logout</a></span>
    <span><a href="{% url 'list_product' %}">List product</a></span>
    <hr><br>

    {% for product in object_list %}
        <h3>{{ product.product.name }}</h3>
        <p>{{ product.product.description }}</p>
        <pre><i>Стоимость: {{ product.product.price }}  Количество: {{ product.quantity }}</i></pre>
        <p><i>Сумма: {{ product.product.price|multiply:product.quantity }}</i></p>
        <p><i>{{ product.buy_at|date:'Y/m/d - h:i:s' }}</i></p>

        <form method="get" action="{% url 'return_buy' product.id %}">
            <input type="submit" value="Отменить покупку">
        </form>
        {% if request.session.has_already %}
            {% if request.session.buy_at.1 == product.id %}
                <span>Ваш запрос на возврат продукции еще в обработке</span>
            {% endif %}
        {% elif request.session.buy_at.0 %}
            {% if request.session.buy_at.1 == product.id %}
                <span>Время возвращение товара истекло</span>
            {% endif %}
        {% endif %}
        <hr><br>
    {% endfor %}

{% endblock %}